body {
    background: rgb(180, 178, 182);
}

body h1 {
    display: flex;
    justify-content: center;
}

body p {
    display: flex;
    justify-content: center;
}

fieldset {
    width: auto;
    margin-right: 5%;
}

table {
    margin: auto;
}

td {
    text-align :center;
}

@media screen and (max-width: 600px) {
    table {
        margin: auto;
        width: 100%;
    }
  }
