fieldset {
    width: auto;
    margin-right: 5%;
}

table {
    margin: auto;
	table-layout: fixed;
	width: 150px;
}

.packPrix, .packES, .packText { 
	width: auto;
}

.packES input{ 
	/* Behave  like a "row" */
	position: relative;
	line-height: 10px;
	margin-left: 0%;
	width:0em;
	min-width: 20%;
	min-width: 40%;
}

.packPrix input{ 
	/* Behave  like a "row" */
	position: relative;
	line-height: 10px;
	margin-left: 0%;
	width:0em;
	min-width: 20%;
	min-width: 40%;
}

.packText input{ 
	/* Behave  like a "row" */
	position: relative;
	line-height: 10px;
	margin-left: 0%;
	width:0em;
	min-width: 70%;
	min-width: 100%;
}

.packIOTRef{ 
	/* Behave  like a "row" */
	position: relative;
	line-height: 10px;
	margin-left: 0%;
	width:0em;
	min-width: 20%;
	max-width: 50%;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: rgb(8, 8, 8); 
    font-weight: bold; 
  }
  .pack, th { 
    padding: 6px; 
    border: 1px solid #ccc; 

  }

  
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, .pack, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	.pack:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 10px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.pack { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
    .pack input { 
		/* Behave  like a "row" */
		position: relative;
        width: 30%;
        margin-left: 30%;
	}
    .pack button { 
		/* Behave  like a "row" */
		position: relative;
        margin-top: 1%;
        margin-left: 30%;
        width: 50%;
	}  
    
    .end:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 10px;
		left: -123px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    .end { 
		/* Behave  like a "row" */
		position: relative;
        width: 60%;
        margin-left: 30%;
	}

  }
