{% extends 'polls/headerNew.html' %}

{% block content %}
    </head>
    <body>
        <div class="first">
            <div class="first_row absolute">
                {% load static %}
                <img class="logo_sysco" src="{% static 'img/SyscoApp_logo.png' %}" alt="logo_sysco"/>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark navigation">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navlibelle" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'polls:accueil' %}">ACCUEIL</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'polls:catalogueAutomView' %}">CATALOGUE AUTOMATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polls:packsView' %}">CATALOGUE PACK</a>
                    </li>
                    </ul>
                </div>
            </nav>
            <div class="second_row">
                {% load static %}
                <img class="fond_sysco" src="{% static 'img/SyscoApp_Accueil.jpg' %}" alt="fond_sysco"/>
            </div> 
            {% if user.is_authenticated %} 
            <div class="second_row_content">
                
                    <span style="color:red">{{message}}</span>
                    <br>
                    <br>

                    <!-- AFFICHAGE DU TABLEAU DES CATALOGUES AUTOMATES -->
                    
                    <table class="table text-center" style="height: 20%;" >
                        <thead>
                            <tr style="background-color: gray;">
                                <!-- <th>Sous-ensemble</th> -->
                                <th class="itemTYPE">TYPE</th>
                                <th class="itemMARQUE">MARQUE</th>
                                <th class="itemDENOMINATION">DENOMINATION</th>
                                <th class="itemES">DI</th>
                                <th class="itemES">DO</th>
                                <th class="itemES">AI</th>
                                <th class="itemES">AO</th>
                                <th class="itemES">UI</th>
                                <th class="itemES">UO</th>
                                <th class="itemES">DO Relais</th>
                                <th class="itemES">DO/UO</th>
                                <th class="itemFCT">Nb Emplacement</th>
                                <th class="itemFCT">Extension</th>
                                <th class="itemES">RS232</th>
                                <th class="itemES">RS485</th>
                                <th class="itemFCT">Ressources</th>
                                <th class="itemFCT">Max Equip MODBUS</th>
                                <th class="itemFCT">Imagerie</th>
                                <th class="itemES">Mbus</th>
                                <th class="itemPRIX">Prix</th>
                                {% if user.groups.first.name == "SYSCO" %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody style="background-color: white;">
                            {% for p in catalogue %}
                                {% if itemUPDATE == p.reference %}
                                    <tr>
                                        <form action="" method="post" id="catalogueUPGform">
                                            {% csrf_token %}
                                            <td class="itemTYPE"><select name="type_Upd" id="type_Upd" value="{{ p.type }}">
                                                <option value="CPU">CPU</option>
                                                <option value="Carte_ES">Carte_ES</option>
                                                <option value="COM">COM</option>
                                                <option value="EMBASE">EMBASE</option>
                                                <option value="ALIM">ALIM</option>
                                                <option value="SONDE">SONDE</option>
                                                <option value="MODEM">MODEM</option>
                                                <option value="ECRAN">ECRAN</option>
                                            </select></td>
                                            <td class="itemMARQUE"><select name="marque_Upd" id="marque_Upd" value="{{ p.marque }}">
                                                <option value="DISTECH">DISTECH</option>
                                                <option value="TREND">TREND</option>
                                                <option value="WIT">WIT</option>
                                                <option value="SOFREL">SOFREL</option>
                                            </select></td>
                                            <td class="itemDENOMINATION"><input class="itemRefNew" name="reference_Upd" id="reference_Upd" type="text" value="{{ p.reference }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="DI_Upd" id="DI_Upd" value="{{ p.DI }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="DO_Upd" id="DO_Upd" value="{{ p.DO }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="AI_Upd" id="AI_Upd" value="{{ p.AI }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="AO_Upd" id="AO_Upd" value="{{ p.AO }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="UI_Upd" id="UI_Upd" value="{{ p.UI }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="UO_Upd" id="UO_Upd" value="{{ p.UO }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="DOR_Upd" id="DOR_Upd" value="{{ p.DOR }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="DO_UO_Upd" id="DO_UO_Upd" value="{{ p.DO_UO }}"></td>
                                            <td class="itemFCT"><input class="itemFCTNew" name="nbEmpl_Upd" id="nbEmpl_Upd" value="{{ p.nbEmpl }}"></td>
                                            <td class="itemFCT"><input class="itemFCTNew" name="extension_Upd" id="extension_Upd" type="checkbox" value="{{ p.extension }}" {% if p.extension  %} checked {% endif %}></td>
                                            <td class="itemES"><input class="itemESNew" name="rs232_Upd" id="rs232_Upd" value="{{ p.rs232 }}"></td>
                                            <td class="itemES"><input class="itemESNew" name="rs485_Upd" id="rs485_Upd" value="{{ p.rs485 }}"></td>
                                            <td class="itemFCT"><input class="itemFCTNew" name="ressources_Upd" id="ressournamepces_Upd" value="{{ p.ressources }}"></td>
                                            <td class="itemFCT"><input class="itemFCTNew" name="maxModbus_Upd" id="maxModbus_Upd" value="{{ p.maxModbus }}"></td>
                                            <td class="itemFCT"><input class="itemFCTNew" name="Imagerie_Upd" id="Imagerie_Upd" type="checkbox" value="{{ p.Imagerie }}" {% if p.Imagerie  %} checked {% endif %}></td>
                                            <td class="itemES"><input class="itemESNew" name="maxMbus_Upd" id="maxMbus_Upd" value="{{ p.maxMbus }}"></td>
                                            <td class="itemPRIX"><input class="itemPRIXNew" name="prix_Upd" id="prix_Upd" value="{{ p.prix }}">€</td>
                                            <td>
                                                    <input type="hidden" name="form_type" value="catalogueUPGform">
                                                    <button type="submit" class="btn btn-primary"name="ValidModif" id="ValidModif" value={{p.reference}}>Valider</button>
                                            </td>
                                        </form>
                                    </tr>
                                {% else %}
                                    <tr style="vertical-align:middle">
                                        <td class="itemTYPE"><p name="type" id="type" type="text">{{ p.type }}</p></td>
                                        <td class="itemMARQUE"><p name="marque" id="marque" type="text">{{ p.marque }}</p></td>
                                        <td class="itemDENOMINATION"><p name="reference" id="reference" >{{ p.reference }}</p></td>
                                        <td class="itemES"><p name="DI" id="DI">{{ p.DI }}</p></td>
                                        <td class="itemES"><p name="DO" id="DO">{{ p.DO }}</p></td>
                                        <td class="itemES"><p name="AI" id="AI">{{ p.AI }}</p></td>
                                        <td class="itemES"><p name="AO" id="AO">{{ p.AO }}</p></td>
                                        <td class="itemES"><p name="UI" id="UI">{{ p.UI }}</p></td>
                                        <td class="itemES"><p name="UO" id="UO">{{ p.UO }}</p></td>
                                        <td class="itemES"><p name="DOR" id="DOR">{{ p.DOR }}</p></td>
                                        <td class="itemES"><p name="DO_UO" id="DO_UO">{{ p.DO_UO }}</p></td>
                                        <td class="itemFCT"><p name="nbEmpl" id="nbEmpl">{{ p.nbEmpl }}</p></td>
                                        {% if p.extension == False %} 
                                            <td class="itemFCT"><p name="extension" id="extension" type="checkbox" >-</p></td>
                                        {% else %}
                                            <td class="itemFCT"><p name="extension" id="extension" type="checkbox" >x</p></td>
                                        {% endif %}
                                        <td class="itemES"><p name="rs232" id="rs232">{{ p.rs232 }}</p></td>
                                        <td class="itemES"><p name="rs485" id="rs485">{{ p.rs485 }}</p></td>
                                        <td class="itemFCT"><p name="ressources" id="ressources">{{ p.ressources }}</p></td>
                                        <td class="itemFCT"><p name="maxModbus" id="maxModbus">{{ p.maxModbus }}</p></td>
                                        {% if p.Imagerie == False %}
                                            <td class="itemFCT"><p name="Imagerie" id="Imagerie" type="checkbox" >-</p></td>
                                        {% else %}
                                            <td class="itemFCT"><p name="Imagerie" id="Imagerie" type="checkbox" >x</p></td>
                                        {% endif %}
                                        <td class="itemES"><p name="maxMbus" id="maxMbus" type="number">{{ p.maxMbus }}</p></td>
                                        <td class="itemPRIX"><p name="{{ p.prix }}" id="{{ p.prix }}">{{ p.prix }} €</p></td>
                                        {% if user.groups.first.name == "SYSCO" %} 
                                        <td >
                                            <form action="" method="post" id="catalogueSupform" style="display: table-cell;align-self: center;">
                                                {% csrf_token %}
                                                <input type="hidden" name="form_type" value="catalogueSuppform">
                                                <button type="submit" class="btn btn-danger"name="Supp" id="Supp" value="{{p.reference}}">Supprimer</button>
                                            </form>
                                            <form action="" method="post" id="catalogueModifform" style="display: table-cell;align-self: center;">
                                                {% csrf_token %}
                                                <input type="hidden" name="form_type" value="catalogueModifform">
                                                <button type="submit" class="btn btn-primary"name="Modif" id="Modif" value="{{p.reference}}">Modifier</button>
                                            </form>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if user.groups.first.name == "SYSCO" %}
                            <form action="" method="post" id="catalogueAddform">
                                {% csrf_token %}
                                <tr>
                                    <td class="itemTEXT"><select name="type_Add" id="type_Add" value="{{ p.type }}">
                                        <option value="CPU">CPU</option>
                                        <option value="Carte_ES">Carte_ES</option>
                                        <option value="COM">COM</option>
                                        <option value="EMBASE">EMBASE</option>
                                        <option value="ALIM">ALIM</option>
                                        <option value="SONDE">SONDE</option>
                                        <option value="MODEM">MODEM</option>
                                        <option value="ECRAN">ECRAN</option>
                                    </select></td>
                                    <td class="itemTEXT"><select name="marque_Add" id="marque_Add" value="{{ p.marque }}">
                                        <option value="DISTECH">DISTECH</option>
                                        <option value="TREND">TREND</option>
                                        <option value="WIT">WIT</option>
                                        <option value="SOFREL">SOFREL</option>
                                    </select></td>
                                    <td class="itemRef"><input class="itemRefNew" name="reference_Add" id="reference_Add" type="text" value="référence"></td>
                                    <td class="itemES"><input class="itemESNew" name="DI_Add" id="DI_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="DO_Add" id="DO_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="AI_Add" id="AI_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="AO_Add" id="AO_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="UI_Add" id="UI_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="UO_Add" id="UO_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="DOR_Add" id="DOR_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="DO_UO_Add" id="DO_UO_Add" type="number" value=0></td>
                                    <td class="itemFCT"><input class="itemFCTNew" name="nbEmpl_Add" id="nbEmpl_Add" type="number" value=0></td>
                                    <td class="itemFCT"><input class="itemFCTNew" name="extension_Add" id="extension_Add" type="checkbox" ></td>
                                    <td class="itemES"><input class="itemESNew" name="rs232_Add" id="rs232_Add" type="number" value=0></td>
                                    <td class="itemES"><input class="itemESNew" name="rs485_Add" id="rs485_Add" type="number" value=0></td>
                                    <td class="itemFCT"><input class="itemFCTNew" name="ressources_Add" id="ressources_Add" type="number" value=0></td>
                                    <td class="itemFCT"><input class="itemFCTNew" name="maxModbus_Add" id="maxModbus_Add" type="number" value=0></td>
                                    <td class="itemFCT"><input class="itemFCTNew" name="Imagerie_Add" id="Imagerie_Add" type="checkbox" checked ></td>
                                    <td class="itemES"><input class="itemESNew" name="maxMbus_Add" id="maxMbus_Add" type="number" value=0></td>
                                    <td class="itemPRIX"><input class="itemPRIXNew" name="prix_Add" id="prix_Add" type="number" step="0.01" value="0.00"></td>
                                    <td>
                                        <input type="hidden" name="form_type" value="catalogueAddform">
                                        <button type="submit" class="btn btn-success"name="Add" id="Add" value=1>Ajout</button>
                                    </td> 
                                </tr>
                            </form>
                            {% endif %}
                        </tbody>
                    </table>  
            </div> 
            <div class="container-fluid">
                <div class="row three_row">
                    <div class="col">
                        <form action="" method="post" id="exportCatalogue" style="display: flex;justify-content: flex-start;">
                            {% csrf_token %}
                                <input type="hidden" name="form_type" value="exportCatalogue">
                                <button type="submit" class="btn btn-primary">Export Catalogue</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="" method="post" id="importCatalogue" class="form" enctype="multipart/form-data" style="display: flex;justify-content: flex-end;">
                            {% csrf_token %}
                                <input type="hidden" name="form_type" value="importCatalogue">
                                <input type="file" name="myfile" class="nomFileUpload">
                                <button type="submit" class="btn btn-success">Import Catalogue</button>
                        </form>
                    </div>
                </div>   
            </div>
            {% else %}
            <div class="row three_row">
                <div class="col-12" style="display: flex; justify-content: center;font-size:xx-large;">
                    <p style="color:white">You are not logged in   =>  </p>
                    <a href="{% url 'login' %}" style="color:chocolate;"> Log In</a>
                </div>
            </div>
            {% endif %}
        </div>



{% endblock %}