{% extends 'polls/header.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <h1 class="text-center">CATALOGUE AUTOMATE</h1>
        </div>

        <span style="color:red">{{message}}</span>
        <br>
        <br>

        <!-- AFFICHAGE DU TABLEAU DES CATALOGUES AUTOMATES -->
        
        <table class="table text-center mt-2">
            <thead>
                <tr>
                    <th
                    {% if user.groups.first.name == "SYSCO" %} 
                        colspan="20" 
                    {% else %}
                        colspan="20" 
                    {% endif %}
                    style="background-color: gray; font-size: 1.3em;"> AUTOMATE WIT </th>
                </tr>
                <tr style="background-color: gray;">
                    <!-- <th>Sous-ensemble</th> -->
                    <th>TYPE</th>
                    <th>DENOMINATION</th>
                    <th>DI</th>
                    <th>DO</th>
                    <th>AI</th>
                    <th>AO</th>
                    <th>UI</th>
                    <th>UO</th>
                    <th>DO Relais</th>
                    <th>DO/UO</th>
                    <th>Nb Emplacement</th>
                    <th>Extension</th>
                    <th>RS232</th>
                    <th>RS485</th>
                    <th>Ressources</th>
                    <th>Max Equip MODBUS</th>
                    <th>ENVISION (Uniq. DISTECH)</th>
                    <th>Mbus</th>
                    <th>Prix</th>
                    {% if user.groups.first.name == "SYSCO" %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for p in catalogueWIT %}
                    {% if itemUPDATE == p.reference %}
                        <tr>
                            <form action="" method="post" id="catalogueWITUPGform">
                                {% csrf_token %}
                                <td class="itemTEXT"><select name="type_Upd" id="type_Upd" value="{{ p.type }}">
                                    <option value="CPU">CPU</option>
                                    <option value="Carte_ES">Carte_ES</option>
                                    <option value="COM">COM</option>
                                    <option value="EMBASE">EMBASE</option>
                                    <option value="ALIM">ALIM</option>
                                    <option value="SONDE">SONDE</option>
                                </select></td>
                                <td class="itemTEXT"><input name="reference_Upd" id="reference_Upd" type="text" value="{{ p.reference }}"></td>
                                <td class="itemNumber"><input name="DI_Upd" id="DI_Upd" value="{{ p.DI }}"></td>
                                <td class="itemNumber"><input name="DO_Upd" id="DO_Upd" value="{{ p.DO }}"></td>
                                <td class="itemNumber"><input name="AI_Upd" id="AI_Upd" value="{{ p.AI }}"></td>
                                <td class="itemNumber"><input name="AO_Upd" id="AO_Upd" value="{{ p.AO }}"></td>
                                <td class="itemNumber"><input name="UI_Upd" id="UI_Upd" value="{{ p.UI }}"></td>
                                <td class="itemNumber"><input name="UO_Upd" id="UO_Upd" value="{{ p.UO }}"></td>
                                <td class="itemNumber"><input name="DOR_Upd" id="DOR_Upd" value="{{ p.DOR }}"></td>
                                <td class="itemNumber"><input name="DO_UO_Upd" id="DO_UO_Upd" value="{{ p.DO_UO }}"></td>
                                <td class="itemNumber"><input name="nbEmpl_Upd" id="nbEmpl_Upd" value="{{ p.nbEmpl }}"></td>
                                <td class="itemCheckbox"><input name="extension_Upd" id="extension_Upd" type="checkbox" value="{{ p.extension }}" {% if p.extension  %} checked {% endif %}></td>
                                <td class="itemNumber"><input name="rs232_Upd" id="rs232_Upd" value="{{ p.rs232 }}"></td>
                                <td class="itemNumber"><input name="rs485_Upd" id="rs485_Upd" value="{{ p.rs485 }}"></td>
                                <td class="itemNumber"><input name="ressources_Upd" id="ressournamepces_Upd" value="{{ p.ressources }}"></td>
                                <td class="itemNumber"><input name="maxModbus_Upd" id="maxModbus_Upd" value="{{ p.maxModbus }}"></td>
                                <td class="itemCheckbox"><input name="Imagerie_Upd" id="Imagerie_Upd" type="checkbox" value="{{ p.Imagerie }}" {% if p.Imagerie  %} checked {% endif %}></td>
                                <td class="itemNumber"><input name="maxMbus_Upd" id="maxMbus_Upd" value="{{ p.maxMbus }}"></td>
                                <td class="packPrix"><input name="prix_Upd" id="prix_Upd" value="{{ p.prix }}"></td>
                                <td>
                                        <input type="hidden" name="form_type" value="catalogueWITUPGform">
                                        <button type="submit" class="btn btn-primary"name="ValidModif" id="ValidModif" value={{p.reference}}>Valider</button>
                                </td>
                            </form>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="itemTEXT"><p name="type" id="type" type="text">{{ p.type }}</p></td>
                            <td class="itemTEXT"><p name="reference" id="reference" type="text">{{ p.reference }}</p></td>
                            <td class="itemNumber"><p name="DI" id="DI">{{ p.DI }}</p></td>
                            <td class="itemNumber"><p name="DO" id="DO">{{ p.DO }}</p></td>
                            <td class="itemNumber"><p name="AI" id="AI">{{ p.AI }}</p></td>
                            <td class="itemNumber"><p name="AO" id="AO">{{ p.AO }}</p></td>
                            <td class="itemNumber"><p name="UI" id="UI">{{ p.UI }}</p></td>
                            <td class="itemNumber"><p name="UO" id="UO">{{ p.UO }}</p></td>
                            <td class="itemNumber"><p name="DOR" id="DOR">{{ p.DOR }}</p></td>
                            <td class="itemNumber"><p name="DO_UO" id="DO_UO">{{ p.DO_UO }}</p></td>
                            <td class="itemNumber"><p name="nbEmpl" id="nbEmpl">{{ p.nbEmpl }}</p></td>
                            {% if p.extension == False %} 
                                <td class="itemCheckbox"><p name="extension" id="extension" type="checkbox" >-</p></td>
                            {% else %}
                                <td class="itemCheckbox"><p name="extension" id="extension" type="checkbox" >x</p></td>
                            {% endif %}
                            <td class="itemNumber"><p name="rs232" id="rs232">{{ p.rs232 }}</p></td>
                            <td class="itemNumber"><p name="rs485" id="rs485">{{ p.rs485 }}</p></td>
                            <td class="itemNumber"><p name="ressources" id="ressources">{{ p.ressources }}</p></td>
                            <td class="itemNumber"><p name="maxModbus" id="maxModbus">{{ p.maxModbus }}</p></td>
                            {% if p.Imagerie == False %}
                                <td class="itemCheckbox"><p name="Imagerie" id="Imagerie" type="checkbox" >-</p></td>
                            {% else %}
                                <td class="itemCheckbox"><p name="Imagerie" id="Imagerie" type="checkbox" >x</p></td>
                            {% endif %}
                            <td class="itemNumber"><p name="maxMbus" id="maxMbus" type="number">{{ p.maxMbus }}</p></td>
                            <td class="itemNumber"><p name="{{ p.prix }}" id="{{ p.prix }}">{{ p.prix }} €</p></td>
                            {% if user.groups.first.name == "SYSCO" %} 
                            <td class="row">
                                <div class="col">
                                    <form action="" method="post" id="catalogueWITSupform">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="catalogueWITSuppform">
                                        <button type="submit" class="btn btn-danger"name="Supp" id="Supp" value={{p.reference}}>Supprimer</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <form action="" method="post" id="catalogueWITModifform">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="catalogueWITModifform">
                                        <button type="submit" class="btn btn-primary"name="Modif" id="Modif" value={{p.reference}}>Modifier</button>
                                    </form>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if user.groups.first.name == "SYSCO" %}
                <form action="" method="post" id="catalogueWITAddform">
                    {% csrf_token %}
                    <tr>
                        <td class="itemTEXT"><select name="type_Add" id="type_Add" value="{{ p.type }}">
                            <option value="CPU">CPU</option>
                            <option value="Carte_ES">Carte_ES</option>
                            <option value="COM">COM</option>
                            <option value="EMBASE">EMBASE</option>
                            <option value="ALIM">ALIM</option>
                            <option value="SONDE">SONDE</option>
                        </select></td>
                        <td class="itemTEXT"><input name="reference_Add" id="reference_Add" type="text" value="référence"></td>
                        <td class="itemNumber"><input name="DI_Add" id="DI_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="DO_Add" id="DO_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="AI_Add" id="AI_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="AO_Add" id="AO_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="UI_Add" id="UI_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="UO_Add" id="UO_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="DOR_Add" id="DOR_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="DO_UO_Add" id="DO_UO_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="nbEmpl_Add" id="nbEmpl_Add" type="number" value=0></td>
                        <td class="itemCheckbox"><input name="extension_Add" id="extension_Add" type="checkbox" ></td>
                        <td class="itemNumber"><input name="rs232_Add" id="rs232_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="rs485_Add" id="rs485_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="ressources_Add" id="ressources_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="maxModbus_Add" id="maxModbus_Add" type="number" value=0></td>
                        <td class="itemCheckbox"><input name="Imagerie_Add" id="Imagerie_Add" type="checkbox" checked ></td>
                        <td class="itemNumber"><input name="maxMbus_Add" id="maxMbus_Add" type="number" value=0></td>
                        <td class="itemNumber"><input name="prix_Add" id="prix_Add" type="number" step="0.01" value=0></td>
                        <td>
                            <input type="hidden" name="form_type" value="catalogueWITAddform">
                            <button type="submit" class="btn btn-success"name="Add" id="Add" value=1>Ajout</button>
                        </td> 
                    </tr>
                </form>
                {% endif %}
            </tbody>
        </table>  


    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}