{% extends 'polls/header.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-10"><h1 class="text-center">Définition des données d'entrées</h1></div>
                <div class="col-1">
                    <form action="" method="post" id="RAZ" style="display: flex;justify-content: flex-end;">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="RAZ">
                        <button type="submit" class="btn btn-danger">RAZ liste</button>
                    </form>
                </div>
            </div>           
        </div>

        <span style="color:red">{{message}}</span>
        <br>
        <br>
        <!-- Formulaire 1 de configuration de la chaufferie -->
        <form method="post" id="nbChaudform" class="form">
            <fieldset class="container-fluid border border-primary rounded">
                <div class="row"> 
                    <legend class="text-center">PARTIE A : CONFIGURATION AUTOMATE DE REGULATION </legend>
                </div>
                <p>
                    Cette section vous permet de décrire ce qui compose la chaufferie ou la sous-station dans laquelle la régulation va être installée. 
                    Les données que vous saississez sont nécessaire pour élaborer la liste de points pour le dimensionnement de l'automate de régulation, 
                    et de son instrumentation. 
                </p>
                {% csrf_token %}

                <div class="container-fluid col mt-1 me-1 pb-1">
                    <label>Nom installation: </label>
                    <input name="nomInstal" id="nomInstal" type="text" value="{{ chaufferie.nomInstal }}" style="width: 50%;">               
                </div>

                <div class="container-fluid col mt-1 me-1 pb-1">
                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>Chaudières</legend>
                        <label>Nombres de chaudières: </label>
                        <input name="nbChaudiere" id="nbChaudiere" type="number" min="0" value="{{ chaufferie.nbChaudiere }}" style="width: 20%;">
                    </fieldset>

                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>ECS</legend>
                        <div class="row">
                            <label class="col-8">ECS présent: </label>
                            <input class="col-4" name="ECSpres" id="ECSpres" type="checkbox" style="width:20px;" value="{{ chaufferie.ECSpres }}" {% if chaufferie.ECSpres %} checked {% endif %}>    
                        </div>
                        <div class="row">
                            <label class="col-8">Préparateur indépendant: </label>
                            <input class="col-4" name="ECSprepa" id="ECSprepa" type="checkbox" style="width:20px;" value="{{ chaufferie.ECSprepa }}" {% if chaufferie.ECSprepa %} checked {% endif %}>    
                        </div>
                    </fieldset>
                    
                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>Circuits</legend>
                        <label>Nombres de circuits: </label>
                        <input name="nbCircReg" id="nbCircReg" type="number" min="0" value="{{ chaufferie.nbCircReg }}">
                    </fieldset>

                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>Compteurs:</legend>
                        <label>Nombres de compteurs Mbus: </label>
                        <input name="nbMbus" id="nbMbus" type="number" min="0" value="{{ chaufferie.nbMbus }}">
                        <label>Nombres de compteurs Modbus: </label>
                        <input name="nbModbus" id="nbModbus" type="number" min="0" value="{{ chaufferie.nbModbus }}">
                        <label>Nombres de compteurs impulsionnels: </label>
                        <input name="nbImp" id="nbImp" type="number" min="0" value="{{ chaufferie.nbImp }}">
                    </fieldset>

                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>Autres:</legend>
                        <label>Nombres d'équipements divers: </label>
                        <input name="nbDivers" id="nbDivers" type="number" min="0" value="{{ chaufferie.nbDivers }}">
                    </fieldset>

                    <fieldset class="container-fluid col mt-1 me-1 pb-1 border border-primary rounded">
                        <legend>Caractéristiques spéciales:</legend>
                        <label>Modem nécessaire: </label>
                        <input class="col-4" name="modemNec" id="modemNec" type="checkbox" style="width:20px;" value="{{ chaufferie.modemNec }}" {% if chaufferie.modemNec %} checked {% endif %}> 
                        <label>Nombre de ports Ethernet sur modem: </label>
                        <td class="number"><select name="nbPortModem" id="nbPortModem" value="{{ chaufferie.nbPortModem }}">
                            <option value=2>2</option>
                            <option value=5>5</option>
                        </select></td>
                        <label>Ecran tactile: </label>
                        <input class="col-4" name="ecranNec" id="ecranNec" type="checkbox" style="width:20px;" value="{{ chaufferie.ecranNec }}" {% if chaufferie.ecranNec %} checked {% endif %}>   
                    </fieldset>

                    <div class="col mt-1">
                    </div>

                    <div class="col d-flex justify-content-end mt-1">
                        <input type="hidden" name="form_type" value="nbChaudform">
                        <button type="submit" class="btn btn-primary">Configuration Régulation</button>
                    </div>                
                </div>
            </fieldset>
        </form>

        <!-- Formulaire 2 de configuration de chaque composant -->
        <form action="" method="post" id="chaudform">
            {% csrf_token %}
            <!-- CONFIGURATION CHAUDIERES -->
            {% for c in chaufferie.Chaudieres %}
            <fieldset class="container-fluid mt-1 pb-1 border border-warning rounded">
                <div class="row">
                    <legend>Chaudière {{ c.num }}</legend>
                </div>
                
                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Nom chaudières: </label>
                        <input class="row" name="nomChaud{{ c.num }}" id="nomChaud{{ c.num }}" type="text" value="{{ c.nomChaud }}">
                    </div>

                    <div class="col mt-1">
                        <label class="row">Nombre de synthèse défauts: </label>
                        <input class="row" name="nbDef{{ c.num }}" id="nbDef{{ c.num }}" type="number" min="0" value="{{ c.nbDef }}">
                    </div>

                    <div class="col mt-1">
                        <label class="row">Nombre de Température: </label>
                        <input class="row" name="nbTemp{{ c.num }}" id="nbTemp{{ c.num }}" type="number" min="0" value="{{ c.nbTemp }}">
                    </div>

                    <div class="col mt-1">
                        <label class="row">Nombre de pompes: </label>
                        <input class="row" name="nbPpeChaud{{ c.num }}" id="nbPpeChaud{{ c.num }}" type="number" min="0" value="{{ c.nbPpe }}">
                    </div>

                    <div class="col mt-1">
                        <label class="row">Nombre de V2V: </label>
                        <input class="row" name="nbV2VChaud{{ c.num }}" id="nbV2VChaud{{ c.num }}" type="number" min="0" value="{{ c.nbV2V }}">        
                    </div>

                    <div class="col mt-1">       
                    </div>

                </div>
            </fieldset>
            {% endfor %}
            <!-- CONFIGURATION EQUIPEMENTS DIVERS -->
            {% for d in chaufferie.Divers %}
            <fieldset class="container-fluid mt-1 pb-1 border border-warning rounded">
                <div class="row">
                    <legend>Divers {{ d.num }}</legend>
                </div>

                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Nom équipement: </label>
                        <input class="row" name="nomDivers{{ d.num }}" id="nomDivers{{ d.num }}" type="text" min="0" value="{{ d.nomDivers }}">
                    </div>
        
                    <div class="col mt-1">
                        <label class="row">Nom équipement: </label>
                        <input class="row" name="nomDivers{{ d.num }}" id="nomDivers{{ d.num }}" type="text" min="0" value="{{ d.nomDivers }}">
                    </div>
        
                    <div class="col mt-1">
                        <label class="row">Nombre d'infos supplémentaires: </label>
                        <input class="row" name="nbTSsupDivers{{ d.num }}" id="nbTSsupDivers{{ d.num }}" type="number" min="0" value="{{ d.nbTSsup }}">
                    </div>
        
                    <div class="col mt-1">
                        <label class="row">Nombre de pompes: </label>
                        <input class="row" name="nbPpeDivers{{ d.num }}" id="nbPpeDivers{{ d.num }}" type="number" min="0" value="{{ d.nbPpe }}">
                    </div>
        
                    <div class="col mt-1">
                        <label class="row">Nombre de V2V: </label>
                        <input class="row" name="nbV2VDivers{{ d.num }}" id="nbV2VDivers{{ d.num }}" type="number" min="0" value="{{ d.nbV2V }}">
                    </div>

                    <div class="col mt-1">
                    </div>
                </div>
                
            </fieldset>
            {% endfor %}
            <!-- CONFIGURATION CIRCUITS REGULES -->
            {% for c in chaufferie.CircReg %}
            <fieldset class="container-fluid mt-1 pb-1 border border-warning rounded">
                <div class="row">
                    <legend>Circuit régulé {{ c.num }}</legend>
                </div>

                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Nom circuit régulé: </label>
                        <input class="row" name="nomCircReg{{ c.num }}" id="nomCircReg{{ c.num }}" type="text" value="{{ c.nomCirc }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de Température Eau: </label>
                        <input class="row" name="nbTempCircReg{{ c.num }}" id="nbTempCircReg{{ c.num }}" type="number" min="0" value="{{ c.nbTemp }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de Température Ambiant (filaire): </label>
                        <input class="row" name="nbAmbCircReg{{ c.num }}" id="nbAmbCircReg{{ c.num }}" type="number" min="0" value="{{ c.nbAmb }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de pompes: </label>
                        <input class="row" name="nbPpeCircReg{{ c.num }}" id="nbPpeCircReg{{ c.num }}" type="number" min="0" value="{{ c.nbPpe }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de V3V: </label>
                        <input  class="row"name="nbV3VCircReg{{ c.num }}" id="nbV3VCircReg{{ c.num }}" type="number" min="0" value="{{ c.nbV3V }}">
                    </div>

                    <div class="col mt-1">
                    </div>

                </div>
            </fieldset>
            {% endfor %}       
            <!-- CONFIGURATION ECS -->
            {% for c in chaufferie.ECS %}
            <fieldset class="container-fluid mt-1 pb-1 border border-warning rounded">
                <div class="row">
                    <legend>ECS {{ c.num }}</legend>
                </div>

                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Nom ECS: </label>
                        <input class="row" name="nomECS{{ c.num }}" id="nomECS{{ c.num }}" type="text" value="{{ c.nomECS }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de défauts: </label>
                        <input class="row" name="nbDef{{ c.num }}" id="nbDef{{ c.num }}" type="number" min="0" value="{{ c.nbDef }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de ballon: </label>
                        <input class="row" name="nbBallonECS{{ c.num }}" id="nbBallonECS{{ c.num }}" type="number" min="0" value="{{ c.nbBallon }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de sonde Température: </label>
                        <input class="row" name="nbTempECS{{ c.num }}" id="nbTempECS{{ c.num }}" type="number" min="0" value="{{ c.nbTemp }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de pompes: </label>
                        <input class="row" name="nbPpeECS{{ c.num }}" id="nbPpeECS{{ c.num }}" type="number" min="0" value="{{ c.nbPpe }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Nombre de V3V: </label>
                        <input  class="row"name="nbV3VECS{{ c.num }}" id="nbV3VECS{{ c.num }}" type="number" min="0" value="{{ c.nbV3V }}">
                    </div>
                    <div class="col mt-1">
                    </div>
                </div>
            </fieldset>
            {% endfor %}
            <br>
            <!-- CONFIGURATION IOT -->
            <fieldset class="container-fluid mt-1 pb-1 border border-primary rounded">
                <div class="row">
                    <legend class="text-center">PARTIE B : IOT & OPTIMISATION</legend>
                </div>
                <p>
                    Cette section va définir les objets IOT à chiffrer.<br /> 
                    Prévoir une passerelle dans les cas suivants: <br />
                    - si la couverture LoRa est mauvaise <br />
                    - si une remontée des données IOT doit être prévue sur un automate ou une GTB en local <br />
                    - si une optimisation d'ambiant est à prévoir <br />
                </p>
                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="text-center">Passerelle à prévoir: </label>
                        <input name="Passerelle" id="Passerelle" type="checkbox" value="{{ LotIOT.Passerelle }}" {% if LotIOT.Passerelle %} checked {% endif %}>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Température Ambiant & Humidité:</label>
                        <input class="row" name="nbTempAmbIOT" id="nbTempAmbIOT" type="number" min="0" value="{{ LotIOT.nbTempAmbIOT }}">
                    </div>
                    <div class="col mt-1" hidden>
                        <label class="row">Température Eau (1 sonde):</label>
                        <input class="row" name="nbTemp1EauIOT" id="nbTemp1EauIOT" type="number" min="0" value="{{ LotIOT.nbTemp1EauIOT }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Température Eau (2 sondes):</label>
                        <input class="row" name="nbTemp2EauIOT" id="nbTemp2EauIOT" type="number" min="0" value="{{ LotIOT.nbTemp2EauIOT }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">CO2, Température & Humidité:</label>
                        <input class="row" name="nbCO2IOT" id="nbCO2IOT" type="number" min="0" value="{{ LotIOT.nbCO2IOT }}">
                    </div>
                    <div class="col mt-1">
                    </div>
                    <div class="col mt-1">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col mt-1">
                        <label class="row">Télérelève GAZ:</label>
                        <input class="row" name="nbTLRGazIOT" id="nbTLRGazIOT" type="number" min="0" value="{{ LotIOT.nbTLRGazIOT }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Télérelève EAU:</label>
                        <input class="row" name="nbTLREauIOT" id="nbTLREauIOT" type="number" min="0" value="{{ LotIOT.nbTLREauIOT }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Télérelève ELEC:</label>
                        <input class="row" name="nbTLRElecIOT" id="nbTLRElecIOT" type="number" min="0" value="{{ LotIOT.nbTLRElecIOT }}">
                    </div>
                    <div class="col mt-1">
                        <label class="row">Télérelève CALORIES:</label>
                        <input class="row" name="nbTLRCaloIOT" id="nbTLRCaloIOT" type="number" min="0" value="{{ LotIOT.nbTLRCaloIOT }}">
                    </div>
                    <div class="col mt-1">
                    </div>
                    <div class="col mt-1">
                    </div>
                </div>
            </fieldset>

            <div class="col d-flex justify-content-end mt-1">
                <input type="hidden" name="form_type" value="chaudform">
                <button type="submit" class="btn btn-success">Générer packs</button>
            </div>    
        </form>
    {% else %}
        <p>Vous n'êtes plus connectés</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}