{% extends 'polls/header.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <h1 class="text-center">PACKS RETENUS</h1>
        </div>

        <span style="color:red">{{message}}</span>
        <br>
        <br>

        {% csrf_token %}
        <fieldset class="container-fluid mt-1 pb-1 border border-success rounded" {% if packTGOK.Reference == "" %} hidden {% endif %}>
            <div class="row">
                <legend class="text-center">PARTIE A - Automate TELEGESTION</legend>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <table class="table text-center mt-2" style="width: 30%;">
                        <tbody>
                            <tr>
                                <td colspan="3" style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">Automate WIT</td>
                            </tr>
                            {% for c in automateWIT %}
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">{{ c.type }}</td>
                                <td class="packOKsec" style="vertical-align: middle;"><p name="{{ c.reference }}" id="{{ c.reference }}">{{ c.reference }}</p></td>
                                <td class="packOKsec" style="vertical-align: middle;"><p name="{{ c.prix }}" id="{{ c.prix }}">{{ c.prix }}€</p></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX TOTAL MATERIEL</td>
                                <td class="packOKsec" colspan="2" style="vertical-align: middle;"><p name="{{ automatePrixWIT }}" id="{{ automatePrixWIT }}">{{ automatePrixWIT }}€</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX PRESTATION PROGRAMMATION</td>
                                <td class="packOKsec" colspan="2" style="vertical-align: middle;"><p name="{{ PrestationPrix }}" id="{{ PrestationPrix }}">{{ PrestationPrix }}€</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX TOTAL</td>
                                <td class="packOKsec" colspan="2" style="font-size: 1.3em;color:black;font-weight: bold;;"><p name="{{ coutTotalWIT }}" id="{{ coutTotalWIT }}">{{ coutTotalWIT }}€</p></td>
                            </tr>
                        </tbody>
                    </table>  
                    <table class="table text-center mt-2" style="width: 30%;">
                        <tbody>
                            <tr>
                                <td colspan="3" style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">Automate DISTECH</td>
                            </tr>
                            {% for c in automateDISTECH %}
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">{{ c.type }}</td>
                                <td class="packOKsec" style="vertical-align: middle;"><p name="{{ c.reference }}" id="{{ c.reference }}">{{ c.reference }}</p></td>
                                <td class="packOKsec" style="vertical-align: middle;"><p name="{{ c.prix }}" id="{{ c.prix }}">{{ c.prix }}€</p></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX TOTAL MATERIEL</td>
                                <td class="packOKsec" colspan="2" style="vertical-align: middle;"><p name="{{ automatePrixDISTECH }}" id="{{ automatePrixDISTECH }}">{{ automatePrixDISTECH }}€</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX PRESTATION PROGRAMMATION</td>
                                <td class="packOKsec" colspan="2" style="vertical-align: middle;"><p name="{{ PrestationPrix }}" id="{{ PrestationPrix }}">{{ PrestationPrix }}€</p></td>
                            </tr>
                            <tr>
                                <td style="background-color: gray;font-size: 1.2em; color: white; vertical-align: middle;" width="50%">PRIX TOTAL</td>
                                <td class="packOKsec" colspan="2" style="font-size: 1.3em;color:black;font-weight: bold; vertical-align: middle;"><p name="{{ coutTotalDISTECH }}" id="{{ coutTotalDISTECH }}">{{ coutTotalDISTECH }}€</p></td>
                            </tr>
                        </tbody>
                    </table>  
                </div>

            </div>
            
        </fieldset>
        <br>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}