{% extends 'polls/header.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <h1 class="text-center">Liste de points générée</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <!-- Formulaire 1 téléchargement template Liste de points -->
                <form method="post" id="downloadListTemplate" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="downloadListTemplate">
                    <button type="submit" class="btn btn-secondary">Télécharger Template liste</button>    
                </form>
            </div>
        </div>

        <span style="color:red">{{message}}</span>
        <br>
        <br>

        <!-- AFFICHAGE DE LA LISTE DE POINTS -->
        <form action="" method="post" id="listform">
            {% if listePts|length > 0 %}
            <div class="col d-flex justify-content-end mt-1">
                <input type="hidden" name="form_type" value="listform">
                <button type="submit" class="btn btn-warning">Actualiser liste</button>
            </div>   
            {% endif %}
            {% csrf_token %}
            <table class="table text-center mt-2">
                <thead>
                    <tr>
                        <th colspan="6" style="background-color: gray; font-size: 1.3em;">{{ chaufferie.nomInstal }} - LISTE DE POINTS</th>
                    </tr>
                    <tr style="background-color: gray;">
                        <!-- <th>Sous-ensemble</th> -->
                        <th>Libellé</th>
                        <th>TM Température</th>
                        <th>TS Digital</th>
                        <th>TR 0-10V</th>
                        <th>TC Digital</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in listePts %}
                        {% if not forloop.last %}
                            {% ifchanged l.equip %}
                                <tr>
                                    <td class="equip" colspan="5" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle %} style="background-color: red;" {% endif %}><p name="nomEquip{{ l.id }}" id="nomEquip{{ forloop.counter1 }}" >{{ l.equip }}</p></td>
                                    <td>
                                        <button type="submit" class="btn btn-success"name="Add" id="Add" value="{{l.equip}}">Ajout</button>
                                    </td> 
                                </tr>
                                <tr>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="libelle{{ l.id }}" id="libelle{{ l.id }}" type="text" value="{{ l.libelle }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TM{{ l.id }}" id="TM{{ l.id }}" type="number" value="{{ l.TM }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TS{{ l.id }}" id="TS{{ l.id }}" type="number" value="{{ l.TS }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TR{{ l.id }}" id="TR{{ l.id }}" type="number" value="{{ l.TR }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TC{{ l.id }}" id="TC{{ l.id }}" type="number" value="{{ l.TC }}"></td>
                            {% else %}
                                <tr>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="libelle{{ l.id }}" id="libelle{{ l.id }}" type="text" value="{{ l.libelle }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TM{{ l.id }}" id="TM{{ l.id }}" type="number" value="{{ l.TM }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TS{{ l.id }}" id="TS{{ l.id }}" type="number" value="{{ l.TS }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TR{{ l.id }}" id="TR{{ l.id }}" type="number" value="{{ l.TR }}"></td>
                                    <td class="pts" {% if l.TM == 0 and l.TS == 0 and l.TR == 0 and l.TC == 0 and l.libelle  %} style="background-color: red;" {% endif %}><input name="TC{{ l.id }}" id="TC{{ l.id }}" type="number" value="{{ l.TC }}"></td>
                            {% endifchanged %}
                                    <td>
                                        <input type="hidden" name="equipSupp" type="number" value="{{l.equip}}">
                                        <button type="submit" class="btn btn-danger"name="Supp" id="Supp" value="{{l.id}}">Supprimer</button>
                                        
                                    </td>
                                </tr>
                        {% else %}
                            <tr style="background-color: gray;">
                                <td class="end">{{ l.libelle }}</td>
                                <td class="end">{{ l.TM }}</td>
                                <td class="end">{{ l.TS }}</td>
                                <td class="end">{{ l.TR }}</td>
                                <td class="end">{{ l.TC }}</td>
                                <td class="end"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    
                </tbody>
            </table>   
        </form>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid col mt-1 me-1 pb-1 " >
                    <form action="" method="post" id="RAZ" style="display: flex;justify-content: flex-start;">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="RAZList">
                        <button type="submit" class="btn btn-danger">RAZ liste</button>
                    </form> 
                </div> 
                <div class="container-fluid col mt-1 me-1 pb-1 ">
                    <form action="" method="post" id="exportExcelList" style="display: flex;justify-content: flex-end;">
                        {% csrf_token %}
                            <input type="hidden" name="form_type" value="exportExcelList">
                            <button type="submit" class="btn btn-primary">Export Liste en xls</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        
        

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}

<a></a>