<h1>Définition de la liste de points</h1>

<h2>Liste de points pour une chaufferie</h2>

<!-- Formulaire 1 de configuration de la chaufferie -->
<form method="post" id="nbChaudform">
    <fieldset>
        <legend>Configuration de la chaufferie </legend>
        {% csrf_token %}
        {{ nbChaudform.as_p }}
        <input type="hidden" name="form_type" value="nbChaudform">
        <input type="submit" value="OK">
    </fieldset>
</form>

<!-- Formulaire 2 de configuration de chaque chaudière -->
<form action="" method="post" id="chaudform">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="chaudform">
    {% for c in chaufferie.Chaudieres %}
    <fieldset>
        <legend>Chaudière {{ c.id }}</legend>

        {{ chaudform.as_p }}
    </fieldset>
    {% endfor %}
    
    <input type="submit" value="Valider configuration">
</form>
