<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>SYSCO PACK</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% block cssfile %}
    {% endblock %}

    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <script>
      function openNav() {
          document.getElementById("sideNavigation").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }
    
      function closeNav() {
          document.getElementById("sideNavigation").style.width = "0";
          document.getElementById("main").style.marginLeft = "0";
      }
    </script>
      
  </head>
  <body>
    <div id="sideNavigation" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'polls:chaufferie' %}" style="font-size:medium;">Génération Liste de points</a>
      <a href="{% url 'polls:listePts' %}" style="font-size:medium;">Liste de points générée</a>
    </div>
  
    <nav class="topnav">
      <a href="#" onclick="openNav()">
        <svg width="30" height="30" id="icoOpen">
            <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
        </svg>
      </a>
        <h1 style="text-align: center;" >SYSCO APP</h1>
    </nav>
  
    <div id="main">
  
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>   
  

  





